/*
 * Vars
 */
:root {
  --container-width: 100%;
  --container-sm-max-width: 54rem;
  --container-md-max-width: 72rem;
  --container-lg-max-width: 96rem;
  --container-xl-max-width: 114rem;
  --color-red: #931f1d;
  --color-white: #f2efe9;
  --color-black: #0a090c;
  --color-gray: #666;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--color-black);
  color: var(--color-white);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
}

h1,
h3 {
  margin: 3px 0 3px 0;
  font-weight: 700;
}

h1 {
  font-size: 1.2rem;
}

h3 {
  font-size: 0.8rem;
}

img {
  border-radius: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--container-width);
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.profile > .contact {
  margin: 5px 10px;
}

.avatar {
  width: 75px;
  height: 75px;
}

.links {
  padding-top: 15px;
}

.link {
  margin: 15px auto;
  text-align: center;
}

.link > a {
  display: inline-block;
  text-decoration: none;
  width: 300px;
  padding: 10px 3px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-red);
  border-radius: 30px;
  color: var(--color-white);
}

.link > a:hover {
  color: var(--color-white);
  border-color: var(--color-white);
}
